
.wrapper {
    text-align: center;
    background: #151719;;
}

.profile-container {
	width: 50%;
	height: 50%;
	
	margin: auto;
	padding: 16px 32px;
	transform: translateY(-100px);
	z-index: 10;
	position: relative;
    background: #151719;
    top: 75px;
}


.d{
    height: 100%;
    width: 100%;
    object-fit: contain;

}
@media (min-width: 320px) {
    .carousel-inner {
        position: relative;
       
        overflow: hidden;
        height: 435px !important;
        top: 259px !important;
    }
    .carousel .slide{
        width: 380px;
    }
    .carousel-control-next-icon{
        position: relative;
    left: 308px;
    top: -30px;
    
    }
    
}


@media (min-width: 400px) {
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 364px;
        top: 225px !important;
    }
    .carousel .slide{
        width: 411px;
    }
    .carousel-control-next-icon{
        position: relative;
    left: 470px;
    
    }
}
@media (min-width: 580px) {
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 364px;
        top: 225px !important;
    }
    .carousel .slide{
        width: 411px;
    }
    .carousel-control-next-icon{
        position: relative;
    left: 390px;
    
    }
}

@media (min-width: 900px) {
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 364px !important;
        top: 260px !important;
    }
    .carousel .slide{
        width: 1032px;
    }
    .carousel-control-next-icon{
        position: relative;
    left: 899px;
    
    }
}

@media (min-width: 1500px) {
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 633px !important;
        top: 260px !important;
    }
    .carousel .slide{
        width: 1900px;
    }
    .carousel-control-next-icon{
        position: relative;
    left: 1490px;
    top: -124px;
    
    }
}

.carousel-indicators {
 opacity: 0 !important;

}
.carousel-control-next{
    position: relative;
  
}


.carousel-control-prev-icon {
  
    position: relative;
    top: 184px;
}
@media (min-width: 320px) {
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
   
    background-size: cover;
    margin: auto;
    left: 15px;
    position: absolute;
    top: -39px;
}
.afsx {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-color: #e8e8e8;
    background-image: none;
    padding: .5833em .833em;
    color: rgba(0,0,0,.6);
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    transition: background .1s ease;
    position: absolute;
    left: -45%;
    top: 120px;
}
}
@media (min-width: 580px) {
    .profile-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      
        background-size: cover;
        margin: auto;
        left: 170px;
    }
  .afsx {
        display: inline-block;
        line-height: 1;
        vertical-align: baseline;
        margin: 0 .14285714em;
        background-color: #e8e8e8;
        background-image: none;
        padding: .5833em .833em;
        color: rgba(0,0,0,.6);
        text-transform: none;
        font-weight: 700;
        border: 0 solid transparent;
        border-radius: .28571429rem;
        transition: background .1s ease;
        left: 6%;
        top: 120px;
      
    }
}

@media (min-width: 1500px) {
    .profile-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      
        background-size: cover;
        margin: auto;
        left: 286px;
    }
    .afsx {
        display: inline-block;
        line-height: 1;
        vertical-align: baseline;
        margin: 0 .14285714em;
        background-color: #e8e8e8;
        background-image: none;
        padding: .5833em .833em;
        color: rgba(0,0,0,.6);
        text-transform: none;
        font-weight: 700;
        border: 0 solid transparent;
        border-radius: .28571429rem;
        transition: background .1s ease;
        position: relative;
 
        left: 2%;
        top: 10px;
      
    }
  .fg{
      left: 90%;
  }

  .cover{
    position: absolute;
    top: 140px;
}
}
@media (min-width: 1500px) {
    .cover{
        position: absolute;
        top: 340px;
    }
}

    @media (min-width: 1500px) {
        .profile-pic {
            width: 150px;
            height: 150px;
            border-radius: 50%;
          
            background-size: cover;
            margin: auto;
            left: 370px;
        }
        .afsx {
            display: inline-block;
            line-height: 1;
            vertical-align: baseline;
            margin: 0 .14285714em;
            background-color: #e8e8e8;
            background-image: none;
            padding: .5833em .833em;
            color: rgba(0,0,0,.6);
            text-transform: none;
            font-weight: 700;
            border: 0 solid transparent;
            border-radius: .28571429rem;
            transition: background .1s ease;
            position: relative;
     
            left: 2%;
            top: 10px;
          
        }
      .fg{
          left: 90%;
      }

      .cover{
        position: absolute;
        top: 140px;
    }
}
    @media (min-width: 1500px) {
        .cover{
            position: absolute;
            top: 340px;
        }
    }
    @media (min-width: 1600px) {
        .profile-pic {
            width: 150px;
            height: 150px;
            border-radius: 50%;
          
            background-size: cover;
            margin: auto;
            left: 371px;
        }
    }
    .button{
        padding-top: 11.2px !important;
    
    }
    .brds{
        margin-left: 36px;
    }
    h1, h2, h3, h4, h5, h6 ,p{
        font-family: 'Raleway', sans-serif !important ;
      }
    .card:nth-child(n){
        margin-top: 360px !important;
    }
    .card:nth-child(1){
        margin-top: 51px !important;
    }
    .column{
        padding-right: 0px important;
    }